.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
ios/Pods/
ios/.symlinks/
android/.gradle/

google-services.json
android/app/google-services-old.json
*.log
android/.kotlin/
